# Ambiente
PORT=4000

# Banco de Dados (Substitua por sua URL do Supabase, Neon, etc)
DATABASE_URL="postgresql://user:password@localhost:5432/fashion_erp?schema=public"

# Criptografia (Deve ter EXATAMENTE 32 caracteres)
# Você pode gerar uma no terminal com: openssl rand -base64 24
ENCRYPTION_KEY="substitua_por_uma_chave_forte_aqui_exatamente_32_bytes"

# Autenticação (Qualquer string longa e complexa)
JWT_SECRET="seu_segredo_jwt_super_seguro_aqui_123456"